body {
    font-family: ;
    background-color: #9E0B37;
}

h1 {
    color: navy;
    font-weight: bold
    text-align: center;
     text-shadow: 2px 2px 8px #9E0B37;

}

h2 {
    color: navy;
    font-weight: bold;
    text-align: center;

}

p {
    text-indent: 3cm;
}


<style>
  div {
    height: 150px;
    width: 75px;
    background-color: navy;
    color: white;
  }
</style>

<div>
    ol {
  list-style-type: upper-roman;
}
</div>
