html {
  padding: 50px;
  border: 7px;
  border-color: #9E0B37;

}

body {
    font-family: serif;
    background-color: #9E0B37;
    background-image: url(http://www.powerpointhintergrund.com/uploads/2017/05/home-simple-backgrounds-simple-galaxy-s4-background-177-28.jpeg);
    color: navy;
    background-blend-mode: lighten;
    background-position: center;
    background-size: cover;
    list-style-type: upper-roman;
  }

img {
    border: 7px;
    border-color: navy;
    border-style: outset;
    padding: 10px;
    margin-left: 200px;
    margin-right: 100px;
}

h1 {
    color: navy;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 8px #9E0B37;

}

h2 {
  color: navy;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 8px #9E0B37;

}

p {
    text-indent: 3cm;
}
