body {
    font-family: cursive;
    background-color: hsl(120, 60%, 70%);
    color: hsl(120, 100%, 25%);
}

h1 {
    color: blue;
}

h2 {
    color: red; font-weight: bold;
}

p {
    text-indent: 3cm;
}

ol {
  list-style-type: upper-roman;
}
